* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    background-color: rgb(117, 172, 255);
}

#bodyBox {
    width: 700px;
    margin: 0 auto;
    box-shadow: 0px 0px 7px 2px black;
}

header {
    /* border: solid red 1px; */
    margin-top: 30px;
}

section {
    /* border: solid 1px orange; */
    background-color: white;

}

section h2 {
    margin-top: 20px;
}
#midDiv {
    width: 680px;
    margin: 0 auto;
    margin-top: -20px;
}

a {
    color: black;
    
}

#file {
    padding: 5px;
    font-weight: 700;
    background-color: rgb(234, 243, 255);
    border-radius: 10px;
    width: 200px;
}

#fileImage {
    width: 20px;
}

#title {
    text-align: center;
}

#discription {
    font-weight: 600;
}

.mainText {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
}

#bingoTable {
    border: 2px solid black;
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
}

#bingoTable th, td {
    border: 1px solid black;
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    width: 20%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

#bingoTable td :nth-child(3) {
    font-size: 500px;
}

#example {
    width: 90%;
    margin: 0 auto;
}

#example li {
    border-radius: 20px;
    /* background-color: rgba(132, 230, 255, 0.815); */
    margin-top: 30px;
    font-weight: 800;
    padding: 5px;
}

footer {
    padding: 10px;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}